# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
# data/*.csv

# Models
# models/*.pkl

# Monitoring
monitoring/reports/*.html

# DB
*.db
*.sqlite
*.sqlite3
